body {
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif;
}

a {
	text-decoration: none;
}

.group-block {
	width: 67rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3rem;
	user-select: none;
}

.group-block a {
	color: black;
}

.heading {
	display: flex;
}

.heading-name {
	flex-grow: 1;
	user-select: none;
}

.heading .heading-title {
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 0.4rem;
	display: block;
}

.heading .heading-explain {
	font-size: 1rem;
	display: block;
	margin-bottom: 1.5rem;
}

.heading .heading-link {
	color: #00a2c7;
	font-size: 1.1rem;
	font-weight: bold;
}

.groups {
	display: flex;
	width: 68rem;
	margin-left: auto;
	margin-right: auto;
}

.group-info {
	border-radius: 5px;
	box-shadow: .2px 2px 12px rgba(0, 0, 0, .2);
	width: 20rem;
	margin-right: 1rem;
	height: 350px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	transition: all 0.3s;
}

.group-info:hover {
	transform: translate(0, -2px);
}

.group-info .group-image {
	height: 10rem;
}

.group-info .group-image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.group-content {
	margin-top: 1rem;
	margin-left: 1rem;
}

.group-info .group-about {
	font-weight: bold;
	font-size: .9rem;
	color: #756f6f;
}

.group-info .group-name {
	font-weight: bold;
	font-size: 1.3rem;
}

.group-info .group-upcoming {
	margin-top: .5rem;
}

.groups .group-members {
	font-size: .9rem;
	color: #6f6f6f;
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 1.2rem;
}